# Archivos de Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Dataset grande (>25MB)
Online Retail.csv

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Logs
*.log 